In [ ]:
# DATA TYPES AND STRUCTURES QUESTIONS:

In [ ]:
#Q-1 What Are Data Structures and, Why are they important?
#A-1 Data structures are the way of organizing and storing data so that it can be accessed and manipulated efficiently.
#they are important because of their efficient data management and their way to solve complex problems easily.

In [ ]:
#Q-2 Explain the difference between mutable and immutable data types with examples.
#A-2 Mutable datatypes: These data types can be changed after they are created, list, dict, set are type of mutable datatypes.
#example:
list_cont = [ 1, 2, 3, 4.3, 3+5j, "pwskills", True]
list_cont

[1, 2, 3, 4.3, (3+5j), 'pwskills', True]

In [ ]:
list_cont[2] = 100
list_cont

[1, 2, 100, 4.3, (3+5j), 'pwskills', True]

In [ ]:
#Immutable datatypes: These data types cannot be changed after they are created, string is a type of immutable data types.
#example:
b = "pw skills"
b

'pw skills'

In [ ]:
b[0] = "i"

TypeError: 'str' object does not support item assignment

In [ ]:
#Q-3 what are the main differences between lists and tuples in python?
#A-3 The main difference between list and tuples is that list are mutable that can be changed after they are created and tuples aure immutable as they cannot be changed after they are created

In [ ]:
#Q-4 Describe how dictionaries store data.
#A-4 Dictionaries stores data in the form of key value pair, they are unordered collections of data and are represented with curly brackets.

In [ ]:
#Q-5 Why might you use a set instead of a list in python?
#A-5 We might use a set instead of list because sets are unordered collection of unique element and they cannot have multiple occurences of the same element
#so it gets easy to find duplicate values in sets which we cannot do with lists.

In [ ]:
#Q-6 What is a string in python and how is it different from the list?
#A-6 String is a sequence of character that represents and manipulate textual data.
# the main difference between string and list is that strings have a fixed length, while lists can be dynamically long or short in size by adding or removing elements

In [ ]:
#Q-7 How do tuples ensures data integrity in python?
#A-7 As we know tuples are immutable data types and this is enough to ensure that their contents remain constant throghout their lifecycle which ensures its data integrity and relaibility.
#for example: adhar card no. , atm card no.

In [ ]:
#Q-8 What is a hash table, and how does it relate to dictionaries in python?
#A-8 The table in which information is stored in an easy to retrieve and efficient manner is known as hash table.
#Dictionaries are commonly implemented through hash tables that means when we use dictonary in python, then we are essentially working with hash table under the hood.

In [ ]:
#Q-9 Can list contain different data types in python?
#A-9 yes, lists contains different heterogenous data types in python in the form of integers, strings, floats and booleans.

In [ ]:
#Q-10 Explain why strings are immutable in python?
#A-10 Strings are immutable in python because they cannot be changed after they have been created and also to ensure memory efficiency, security and thread safety.

In [ ]:
#Q-11 What advantages do dictionaries offer over lists for certain tasks?
#A-11 lists are used to store the data which is ordered and sequential whereas dictionary is used to store large amount of data for easy and quick access that's why we some time prefers dictionaries over lists

In [ ]:
#Q-12 Describe a scenario where using a tuple would be preferable over a list.
#A-12 whenever we don't want to change our data in the first place like some critical records or information, at that time we should use tuple over lists.

In [ ]:
#Q-13 How does sets handles duplicate values in python?
#A-13 Sets are unordered collection of unique element as they are designed to store only unique elements so whenever we add a duplicate value to a set, it automatically removes the duplicate value, ensuring that value can appear only once.

In [ ]:
#Q-14 How does the "in" keyword works differently for lists and dictionaries?
#A-14 For lists the "in" keyword use to check the presence of an element by iterating through the list until a match is found or the end of the list is reached.
#on the other hand in dictionaries the "in" keyword used to check the presence of a key, not a value.

In [ ]:
#Q-15 Can you modify the elements of a tuple? Explain why or why not?
#A-15 No, we cannot modify the elements of tuple  as they are immutable data structures which means that their contents cannot be changed after they have created.

In [ ]:
#Q-16 What is a nested dictionary and give an example of its use case?
#A-16 Nested dictionary is a dictionary inside a dictionary which makes it easier to organize and access data.
#Use case:
my_family = {"child1": {"name": "ajay", "year": 1998}}, {"child2": {"name": "bijay", "year": 2000}}, {"child3": {"name": "sanjay", "year": 2002}}
print(my_family)

({'child1': {'name': 'ajay', 'year': 1998}}, {'child2': {'name': 'bijay', 'year': 2000}}, {'child3': {'name': 'sanjay', 'year': 2002}})

In [ ]:
#Q-17 Describe the time complexity of accessing elements in a dictionary.
#A-17 The time complexity of retreving a value by its key in a dictinary is 0(1). this is because dictionaries uses hash tables internally which allows constant time lookup,
#hash tables use the hash of the key to find the memory location which enables direct access.

In [ ]:
#Q-18 In what situations are lists preffered over dictionaries?
#A-18 We prefer lists over dictionaries when we want ordered and mutable collection of elements as lists perform faster for ordered operations like sorting of shopping lists and tasks lists, while dictionary perform faster for lookup operations.

In [ ]:
#Q-19 Why are dictionaries considered unordered, and how does that affect data retreival?
#A-19 Dictionaries considered unordered beacuse there elements are not stored in a specific order.
#In dictionaries there is unique key-value pair that means each key act as a unique identifier for retreving an associated value.

In [ ]:
#Q-20 Explain the difference between a list and a dictionary in terms of data retreival.
#A-20 In terms od data retreival , a dictionary excels at fast lookups by key, while a list is better suited for sequential access by index.
#In lists retrieval time is proportinal to the list's size as elements need to be checked one by one, while in dictionaries retreival time is vert fast (close to 0(1) or constant time) with thw use of a hash table.

In [ ]:
# PRACTICAL QUESTIONS

In [ ]:
# A-1
print("Ananya")

Ananya

In [ ]:
#A-2
length = len("Hello World")
print(length)

11

In [ ]:
#A-3
text = "Python Programming"
text[3:]

'hon Programming'

In [ ]:
#A-4
String = "Hello"
uppercase = String.upper()
print(uppercase)

HELLO

In [ ]:
#A-5
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
#A-6
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#A-7
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#A-8
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#A-9
my_list = [1, 2, 3, 4, 5]
my_list[2]

3

In [ ]:
#A-10
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#A-11
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
#A-12
t = ('red', 'green', 'blue', 'yellow')
my_tuple = t[2:3]
print(my_tuple)

('blue',)

In [ ]:
#A-13
t = (10, 20, 5, 15)
min_value = min(t)
print(min_value)

5

In [ ]:
#A-14
t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [ ]:
#A-15
t = ("apple", "cheery", "kiwi")
element_to_check = "kiwi"
if element_to_check in t:
    print(f"{element_to_check} is present in the tuple.")
else:
    print(f"{element_to_check} is not present in the tuple.")

kiwi is present in the tuple.

In [ ]:
#A-16
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#A-17
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#A-18
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#A-19
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#A-20
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
#A-21
my_dict = {"name": "Ananya", "age": 25, "city": "Noida"}
print(my_dict)

{'name': 'Ananya', 'age': 25, 'city': 'Noida'}

In [ ]:
#A-22
my_dict = {"name": "john", "age": 25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#A-23
my_dict = {"name": "Alice", "age": 30}
name = my_dict["name"]
print(name)

Alice

In [ ]:
#A-24
my_dict = {"name": "Bob", "age": 22, "city": "New York"}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#A-25
my_dict = {"name": "Alice", "city": "Paris"}
key_to_check = "city"
if key_to_check in my_dict:
    print(f"{key_to_check} is present in the dictionary.")
else:
    print(f"{key_to_check} is not present in the dictionary.")

city is present in the dictionary.

In [ ]:
#A-26
my_list = [1, 2, "orange", 4.5, True]
my_tuple = (1, 2, "orange", 4.5, True)
my_dict = {"a": 1, "b": 2, "c": "orange", "d": 4.5, "e": True}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 'orange', 4.5, True]
(1, 2, 'orange', 4.5, True)
{'a': 1, 'b': 2, 'c': 'orange', 'd': 4.5, 'e': True}

In [ ]:
#A-27
my_list = [26, 28, 15, 29, 1 ]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 15, 26, 28, 29]

In [ ]:
#A-28
my_list = ["red", "green", "orange", "blue"]
print(my_list[2])

orange

In [ ]:
#A-29
my_dict1 = {"key course": "data science", "duration": 200}
my_dict2 = {"dad no.": 5678, "Mom no.": 2345}
merged_dict = {**my_dict1, **my_dict2}
print(merged_dict)

{'key course': 'data science', 'duration': 200, 'dad no.': 5678, 'Mom no.': 2345}

In [ ]:
#A-30
my_list = ["potato", "tomato", "brinjl", "cabbage"]
my_set = set(my_list)
print(my_set)

{'potato', 'cabbage', 'brinjl', 'tomato'}